<div id="contactBar">
  <div class="contactBar__text__wrapper">
    <p class="contactBar__text" dir="rtl">צרו קשר אונליין עוד היום!</p>
  </div>
  <input class="contactBar__button" type="button" value="לפרטים מלאים">
</div>

<div id="mapPreface">
  <h1 dir="rtl">איך להגיע אלינו</h1>
  <div class="map"></div>
</div>

<div id="officeDetails" dir="rtl">
  <h2 class="about__title">עליי</h2>
  <h2 class="officeHours__title">שעות עבודה</h2>
  <h2 class="contactInfo__title">פרטים אישיים</h2>
  <div class="about infoText">מתמחה בעבודה עם ילדים, נותנת דגש לתקשורת מילולית ברמה גבוהה, בעלת תואר שני בהתמחות טיפול בעזרת בעלי חיים </div>
  <div class="officeHours infoText">שעות העבודה שלנו הן ימי א-ה בשעות 9:00 - 17:00</div>
  <div class="contactInfo infoText">ישראל, גבעת ברנר, מיקום אקראי קומה א.
  <br> odelyeadedi@gmail.com <br> 0541234567</div>
</div>

<div id="footerExtras">
</div>
