<div id="container">
  <div class="pictureWrapper">
    <img class="portrait" src="../../assets/frued.jpg">
  </div>
  <div class="summary">
    <h2 class="description" dir="rtl">קצת על אודליה דדי...</h2>
    <p class="summaryParagraph" dir="rtl">פרויד נולד בעיירה פרייברג שבמוראביה (כיום בצ'כיה), אז חלק מהאימפריה האוסטרית, לאמליה לבית נתנזון וליעקב, סוחר צמר. על פי גרסה אחת אימצה משפחת אביו את השם "פרויד" ב-1812, על שם אם המשפחה, פריידה[1]. הוריו היו שניהם יהודים גליציאנים. זיגמונד היה הבכור מבין שני בנים וחמש בנות שנולדו לאמו. כמו כן היו לו שני אחים בוגרים מנישואיו הקודמים של אביו לאישה בשם רבקה, מהתקופה בה התגורר בבוצ'אץ'.

      בעקבות המשבר הכלכלי של שנת 1857 ירד יעקב מנכסיו. בשנת 1859 עברה המשפחה ללייפציג, וב-1860 התיישבה בווינה. אף על פי שהיו דלי אמצעים וחיו בדירה צפופה, הוריו של זיגמונד השקיעו ממון רב בהשכלתו, לעיתים על חשבון אחיו, שכן בלט בכישרונו כבר מגיל צעיר. בשבע משנות לימודיו בגימנסיה דורג ראשון בכיתתו[2].

    </p>
  </div>
</div>
