<div class="container">
  <button class="btn num1"> צור קשר</button>
  <button class="btn num2">מידע שימושי</button>
  <button class="btn num3">שאלות נפוצות</button>
  <button class="btn num4">סוגי טיפול</button>
  <button class="btn num5">אודות</button>
  <button class="btn num6">בית</button>

  <!--<input type="button" class="btn num1" value="צור קשר">-->
  <!--<input type="button" class="btn num2" value="מידע שימושי">-->
  <!--<input type="button" class="btn num3" value="שאלות נפוצות">-->
  <!--<input type="button" class="btn num4" value="סוגי טיפול">-->
  <!--<input type="button" class="btn num5" value="אודות">-->
  <!--<input type="button" class="btn num6" value="בית">-->
</div>
