<div class="personalInfo">
<img class="logo" src="../../assets/nameLogo2.png">
  <span class="number" > odalyadadi@gmail.com | 0541234567 </span>
</div>

<div class="container">
  <p id="quote1" class="quotes" dir="rtl">" טיפולים המשלבים חוויה של עשייה משותפת, לצד כלים שנלקחו מדיסיצפלינות טיפוליות קלאסיות "</p>
  <!--<p id="quote2">עוד ציטוט</p>-->
  <!--<p id="quote3">ועוד ציטוט</p>-->
  <p id="quote4" class="quotes" dir="rtl" >" משחר ההיסטוריה היווה הטבע מקור קיומי והשראה לתהליכי צמיחה והתחדשות "</p>
  <img id= backgroundImage src="../../assets/snail2.jpg" >
</div>

<!--<div class="infoSection"><p>ברוכים הבאים</p></div>-->

<div class="section">
  <h1 dir="rtl">ברוכים הבאים</h1>
  <p dir="rtl" class="line1 emphasisFont">כרגע מקבלת לקוחות חדשים לפסכיותרפיה בשיטת Outdoor</p>
  <p dir="rtl" class="line2 regularFont">האני מאמין שלנו הוא שפסיכותרפיה היא מעבר למילים. אנחנו מאמינות כי טיפול המשלב טבע ,
    בעלי חיים ויצירה, יוצר סביבה מרפאת,
    חוויה מתקנת וחיבור לכוחות הגדולים מהאדם. המפגש עם הטבע מותיר הן את המטפל והן את המטופל עם שלווה מעצימה, צמיחה והתחדשות. ומסייע לנו למצוא כוחות בתוכנו ולהגמיש דפוסים שהותנו.
  </p>
  <div class="hr1"></div>
  <p dir="rtl" class="line3 regularFont">תחום טיפולי ה- Outdoor, טיפול בעזרת בעלי חיים, טיפול בשטח, גננות טיפולית, טבע-תרפיה, רכיבה טיפולית, כלבנות ותחומים דומים, אינם נחשבים תואר שני טיפולי ולכן דלתם של בתי ספר אחרים לפסיכותרפיה אינם פתוחות בפני מטפלים במקצועות אלה,
    ביניהם מטפלים ותיקים ומנוסים.</p>
  <div class="hr2"></div>
  <p dir="rtl" class="line4 regularFont">דרך לימוד התיאוריות הקלאסיות והתאמתם לתחום ייחודי זה , המטפל יגיע עם רמה גבוה של ידע תיאורטי ומעשי ומתוכו יוכל למצוא את הדרך הייחודית לו. כל סימסטר מורכב מקורסים תיאורתים ומסדנה מעשית בשטח. הדגש הלימודי יושם על כתיבה עכשווית
    מתוך הפסיכולוגיה התייחסותית ויושם דגש על טיפול בילדים וטיפול רגיש מגדר.</p>
  <input class="contactButton" type="button" value="ליצירת קשר">
</div>

<div class="iconsContainer">
  <div id="leafTextureImage"></div>


    <div class="circleWrapper1 circleSize">
      <img class="icon1 imgConfig" src="../../assets/rsz_1macaww.jpg">
    </div>
     <p class="icon1Text textStyle">מידע שימושי</p>

    <div class="circleWrapper2 circleSize">
      <img class="icon2 imgConfig" src="../../assets/kitty.jpg">
    </div>
    <p class="icon2Text textStyle">אודות</p>

    <div class="circleWrapper3 circleSize">
      <img class="icon3 imgConfig" src="../../assets/rsz_1cockatoo.jpg">
    </div>
    <p class="icon3Text textStyle">שאלות נפוצות</p>

    <div class="circleWrapper4 circleSize">
      <img class="icon4 imgConfig" src="../../assets/moody-bison-with-peaceful-meadow-background.jpg">
    </div>
    <p class="icon4Text textStyle">צור קשר</p>

</div>
